<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sperm</title>

    <link rel="stylesheet" href="index.css">



    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>



<body>

    <!-- header -->

    <div class=''>

        <div class='bg-gray-200'>

            <ul class='flex gap-[1px]'>

                <li class='bg-gray-50 py-[2px] px-12 text-[12px]'><a href="index.html">Database</a></li>

                <li class='bg-gray-50 py-[2px] px-12 text-[12px]'><a href="Imageside.html">Image</a></li>

                <li class='bg-gray-50 py-[2px] px-12 text-[12px]'><a href="test/measurement">Measurements</a></li>

                <li class='bg-gray-50 py-[2px] px-12 text-[12px]'><a href="test/vitality">Vitality</a></li>

                <li class='bg-gray-50 py-[2px] px-12 text-[12px]'><a href="test/dna">DNA</a></li>

            </ul>

        </div>

    </div>

    <!-- sub header -->

    <div class='subheader'>

        <!-- <div className='flex items-center gap-2'> -->

        <!-- 1 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown1')" class="dropbtn">

                <div class="btn-drop">

                    <div>
                        <a href="capture.html">
                            <img class="img-cam" src="../src/asset/Camera-1.png">
                        </a>
                        <p>Input</p>

                    </div>

                    <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div>

                </div>

            </button>

            <div id="dropdown1" class="dropdown-content">

                <a href="capture.html">

                    <div class='flex items-center text-[12px] gap-2'><img src="../src/asset/Camera-1.png" alt="camera"
                            class="w-[25px]">

                        <p class="text-[12px] ">TWAIN</p>

                    </div>

                </a>

                <a href="capture.html" class="text-[12px] ml-8"> Select TV Device</a>



                <a href="capture1.html">

                    <div class='flex items-center text-[12px] gap-2'><img src="../src/asset/Video-.png" alt="camera"
                            class="w-[30px]" />

                        <p class="text-[12px]">TV</p>

                    </div>

                </a>

                <a href="#" class="text-[12px] ml-8"> Select TV Device</a>

            </div>

        </div>

        <!-- 2 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown2')" class="dropbtn">

                <div class="btn-drop">

                    <div>



                        <img class="img-cam" src="../src/asset/notebook-icon-.png">

                        <p>New record</p>



                    </div>

                    <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div>

                </div>

            </button>

            <div id="dropdown2" class="dropdown-content">

                <a href="#" class="text-[12px] ml-8">New Record Option</a>

                <a href="#">

                    <div class='flex items-center text-[12px] gap-2'><img src="../src/asset/Camera-1.png" alt="camera"
                            class="w-[25px]">

                        <p class="text-[12px] ">TWAIN</p>

                    </div>

                </a>



            </div>

        </div>

        <!-- 3 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown3')" class="dropbtn">

                <div class="btn-drop">

                    <div>

                        <img class="img-cam" src="../src/asset/Padlock-16.png">

                        <p>Unlock</p>

                    </div>

                    <!-- <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div> -->

                </div>

            </button>

            <!-- <div id="dropdown3" class="dropdown-content">

                <a href="#home">Home</a>

                <a href="#about">About</a>

                <a href="#contact">Contact</a>

            </div> -->

        </div>

        <!--  -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown4')" class="dropbtn">

                <div class="btn-drop">

                    <div>

                        <img class="img-cam" src="../src/asset/notebook-icon-.png">

                        <p>Text</p>

                    </div>

                    <!-- <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div> -->

                </div>

            </button>

            <!-- <div id="dropdown4" class="dropdown-content">

                <a href="#home">Home</a>

                <a href="#about">About</a>

                <a href="#contact">Contact</a>

            </div> -->

        </div>

        <!-- 4 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown4')" class="dropbtn">

                <div class="btn-drop">

                    <div>

                        <img class="img-cam" src="../src/asset/trash_can.png">

                        <p>To Bin</p>

                    </div>

                    <!-- <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div> -->

                </div>

            </button>

            <!-- <div id="dropdown4" class="dropdown-content">

                <a href="#home">Home</a>

                <a href="#about">About</a>

                <a href="#contact">Contact</a>

            </div> -->

        </div>

        <!-- 5 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown5')" class="dropbtn">

                <div class="btn-drop">
                    <a href="test/motility" class="flex justify-center items-center gap-4">

                        <div>

                            <img class="img-cam" src="../src/asset/pngtree-sperm.png">

                            <p>Motility</p>

                        </div>

                    
                    </a>
                </div>

            </button>

            <div id="dropdown5" class="dropdown-content">

                <a href="#home" class="ml-10 text-[12px]">copy table to clipboard</a>

            </div>

        </div>

        <!--6  -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown6')" class="dropbtn">

                <div class="btn-drop">
                    <a href="test/morphology" class="flex justify-center items-center gap-4">
                        <div>

                            <img class="img-cam" src="../src/asset/Blue-Circle.png">

                            <p>Morphology</p>

                        </div>

                        
                    </a>
                </div>

            </button>

            <div id="dropdown6" class="dropdown-content">

                <a href="#home" class="ml-10 text-[12px]">copy table to clipboard</a>



            </div>

        </div>

        <!-- 7 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown7')" class="dropbtn">

                <div class="btn-drop">
                    <a href="test/vitality" class="flex justify-center items-center gap-4">
                        <div>

                            <img class="img-cam" src="../src/asset/pngtree-circle-sc.png">

                            <p>Vitality</p>

                        </div>

                        <div class="icons">

                            <i class="fa fa-caret-down"></i>

                        </div>
                    </a>
                </div>

            </button>

            <div id="dropdown7" class="dropdown-content">

                <a href="#home">Home</a>

                <a href="#about">About</a>

                <a href="#contact">Contact</a>

            </div>

        </div>

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown7')" class="dropbtn">

                <div class="btn-drop">
                    <a href="test/dna" class="flex justify-center items-center gap-4">
                        <div>

                            <img class="img-cam" src="../src/asset/pngtree-circle-sc.png">

                            <p>DNA </p>

                        </div>

                        <div class="icons">

                            <i class="fa fa-caret-down"></i>

                        </div>
                    </a>
                </div>

            </button>

            <div id="dropdown7" class="dropdown-content">

                <a href="#home">Home</a>

                <a href="#about">About</a>

                <a href="#contact">Contact</a>

            </div>

        </div>

        <div>

            <select name="" class="pr-40 border border-black text-[13px]">

                <option value="">All records</option>

                <option value="">dnfslgn</option>

                <option value="">dnfslgn</option>



                <option value="">dnfslgn</option>



                <!-- Add more options as needed -->

            </select>



        </div>

        <!-- 8 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown8')" class="dropbtn">

                <div class="btn-drop">

                    <div>

                        <img class="img-cam" src="../src/asset/printer-icon.png">

                        <p>Report</p>

                    </div>

                    <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div>

                </div>

            </button>

            <div id="dropdown8" class="dropdown-content">

                <a href="#">Report options</a>

                <a href="#">Generate new template</a>

                <a href="#">Edit template</a>

                <a href="#">BasicCharts</a>

                <a href="#">ExtFullReport </a>

                <a href="#">ExtFullReportDNAVit</a>

                <a href="#">ExtMorphology </a>

                <a href="#">Morphology </a>

                <a href="#">Motility </a>



            </div>

        </div>

        <!-- 9 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown9')" class="dropbtn">

                <div class="btn-drop">

                    <div>

                        <img class="img-cam" src="../src/asset/settings-icon-25.png">

                        <p>Options</p>

                    </div>

                    <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div>

                </div>

            </button>

            <div id="dropdown9" class="dropdown-content">

                <a href="#">Select Calibratio</a>

                <a href="#">New Calibr</a>

                <a href="#">Edit Database</a>

                <a href="#">Browse Record</a>

                <a href="#">Create backup</a>

                <a href="#">Restore backup</a>

                <a href="#">Search</a>

                <a href="#">Table view</a>

                <a href="#" class="">Send mail &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                    &nbsp; &nbsp; &nbsp;F12

                    <!-- <p>Send mail</p>

                    <p>F12</p> -->

                </a>

                <a href="#">Calculation</a>

            </div>

        </div>

        <!-- 10 -->

        <div class="dropdown">

            <button onclick="toggleDropdown('dropdown10')" class="dropbtn">

                <div class="btn-drop">

                    <div>

                        <img class="img-cam" src="../src/asset/ques.png">

                        <p>Help</p>

                    </div>

                    <div class="icons">

                        <i class="fa fa-caret-down"></i>

                    </div>

                </div>

            </button>

            <div id="dropdown10" class="dropdown-content">

                <a href="#">About</a>

                <a href="#">Check Update</a>

            </div>

        </div>



    </div>

    <div class='p-[1px] pt-0'>

        <div class="grid   grid-column-3-width  p-1 mt-[-8px]  h-screen overflow-hidden">

            <!-- side -->

            <div class='side'>

                <div class='text-center'>

                    <label class='font-bold '>April, 2024 </label>

                    <div class='overflow-y-scroll pt-[500px] mt-[-30px]'></div>

                </div>

            </div>

            <!-- center -->

            <div class='center'>

                <div class='flex flex-col gap-3 items-center mt-3 '>

                    <a href="../Imagepagezoom1" class='flex items-center '>

                        <img src="../src/asset/Screenshot-1.png" alt="" class="w-[150px]" />



                    </a>

                    <a href="../Imagepagezoom2" class='flex items-center '>

                        <img src="../src/asset/Screenshot-1.png" alt="" class="w-[150px]" />

                    </a>

                    <a href="../Imagepagezoom3" class='flex items-center '>

                        <img src="../src/asset/Screenshot-1.png" alt="" class="w-[150px]" />

                    </a>

                </div>

            </div>

            <!--PatientDetails  -->

            <div class='patient  overflow-y-auto '>

                <div class=' ml-5 mt-10 text-[11px] font-medium'>

                    <div class='flex gap-3'>

                        <div class='flex flex-col gap-3 '>

                            <div class=' flex'>

                                <label class='w-[15%]'>Patient </label>

                                <input type="text" class='border w-[400px]' />

                            </div>

                            <div class='flex'>

                                <label class='w-[15%]'>Address</label>

                                <input type="text" class='border w-[400px]' />

                            </div>

                        </div>

                        <div class='flex flex-col gap-3 '>

                            <div class=' flex'>

                                <label class='w-[65%]'>Birth </label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex'>

                                <label class='w-[55%]'>Date of sample</label>

                                <input type="text" class='border w-[160px]' />

                            </div>

                        </div>

                        <div class='flex flex-col gap-3 '>

                            <div class=' flex'>

                                <label class='w-[19%]'>Age </label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                            <div class='flex'>

                                <label class='w-[20%]'>Code</label>

                                <input type="text" class='border w-[170px]' />

                            </div>

                        </div>

                    </div>

                    <p class='mt-5'>SAMPLE DESCRIPTION</p>

                    <div class='mt-3 flex'>

                        <div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Volume,mi</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Abstination, days</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Liquefaction, min</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Agglutination</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                        </div>

                        <div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Lost ejaculate</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Smell</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Color</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Agglutination</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                        </div>

                        <div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Mucus</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Leothin</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>Viscosity</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                            <div class='flex w-[275px]'>

                                <label class='w-[40%]'>pH</label>

                                <input type="text" class='border w-[150px]' />

                            </div>

                        </div>

                        <div>

                            <div class='flex w-[200px]'>

                                <label class='w-[20%]'>MAR</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                    </div>

                    <p class='mt-5'>MOTILITY</p>

                    <div class='mt-3 flex '>





                        <div class='flex w-[370px]'>

                            <label className='w-[40%]'>Motility, sperms analyzed</label>

                            <input type="text" class='border w-[50px]' />

                        </div>



                        <div class='flex w-[235px]'>

                            <label class='w-[40%]'>Fields analyzed</label>

                            <input type="text" class='border w-[70px]' />

                        </div>

                    </div>

                    <div class='flex mt-3'>



                        <div class=''>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Concentration, M/ml</label>

                                <input type="text" class='border w-[65px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>A+B, %</label>

                                <input type="text" class='border w-[65px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class A, %</label>

                                <input type="text" classclassName='border w-[65px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class B, &</label>

                                <input type="text" class='border w-[65px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class C, %</label>

                                <input type="text" class='border w-[65px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class D, %</label>

                                <input type="text" class='border w-[65px]' />

                            </div>

                        </div>



                        <div class='ml-2'>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Status concentration</label>

                                <input type="text" class='border w-[58px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Status A+B;</label>

                                <input type="text" class='border w-[58px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class A, M/ml</label>

                                <input type="text" class='border w-[58px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class B, M/ml</label>

                                <input type="text" class='border w-[58px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class C, M/ml</label>

                                <input type="text" class='border w-[58px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class D, M/ml</label>

                                <input type="text" class='border w-[58px]' />

                            </div>

                        </div>



                        <div class='ml-2'>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Total number, M</label>

                                <input type="text" class='border w-[55px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>A+B+c, %</label>

                                <input type="text" class='border w-[55px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class A, total</label>

                                <input type="text" class='border w-[55px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class B, total</label>

                                <input type="text" class='border w-[55px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class C, total</label>

                                <input type="text" class='border w-[55px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Class D, total</label>

                                <input type="text" class='border w-[55px]' />

                            </div>

                        </div>



                        <div class='ml-2'>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Status total number:</label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>Status A+B+C;</label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>A+B, total</label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>A+B, M/ml</label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>A+B+C, total</label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                            <div class='flex w-[180px]'>

                                <label class='w-[65%]'>A+B+C, M/ml</label>

                                <input type="text" class='border w-[50px]' />

                            </div>

                        </div>



                        <div class='ml-2'>

                            <div class='flex w-[212px]'>

                                <label class='w-[70%]'>Round cells, M/ml</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[212px]'>

                                <label class='w-[70%]'>White blood cells, M/ml</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[212px]'>

                                <label class='w-[70%]'>Immature germ cells, M/ml</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                    </div>

                    <p class='mt-5'>VITALITY</p>



                    <div class='flex mt-3'>

                        <div class='flex w-[175px]'>

                            <label class='w-[90%]'>Vitality, sperms analyzed</label>

                            <input type="text" class='border w-[45px]' />

                        </div>

                        <div class='flex w-[105px] ml-2'>

                            <label class='w-[55%]'>Vitality, %</label>

                            <input type="text" class='border w-[40px]' />

                        </div>

                        <div class='flex w-[90px]'>

                            <label class='w-[55%]'>Dead, %</label>

                            <input type="text" class='border w-[40px]' />

                        </div>

                        <div class='flex w-[125px] ml-2'>

                            <label class='w-[70%]'>Status, Vitality</label>

                            <input type="text" class='border w-[45px]' />

                        </div>

                        <div class='flex w-[165px] ml-2'>

                            <label class='w-[70%]'>Live, total number, M</label>

                            <input type="text" class='border w-[45px]' />

                        </div>



                    </div>

                    <p class='mt-5'>MORPHOLOGY</p>



                    <div class='flex mt-3'>

                        <div class='flex w-[235px]'>

                            <label class='w-[70%]'>Morphology, sperms analyzed</label>

                            <input type="text" class='border w-[75px]' />

                        </div>

                        <div class='flex w-[125px] ml-2'>

                            <label class='w-[70%]'>Norm, %</label>

                            <input type="text" class='border w-[75px]' />

                        </div>

                        <div class='flex w-[180px] ml-2'>

                            <label class='w-[70%]'>Status morphology:</label>

                            <input type="text" class='border w-[75px]' />

                        </div>

                        <div class='flex w-[200px] ml-2'>

                            <label class='w-[70%]'>Norm, total number, M</label>

                            <input type="text" class='border w-[75px]' />

                        </div>

                        <div class='flex w-[125px] ml-2'>

                            <label class='w-[70%]'>TZI/MAI</label>

                            <input type="text" class='border w-[75px]' />

                        </div>



                    </div>

                    <div class='flex mt-3 '>

                        <div>

                            <p>% rel, to total</p>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>Head pathology</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>Neck pathology</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>Tail pathology</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>ERC</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                        <div>

                            <p>% rel, to anomalies</p>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>Head pathology</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>Neck pathology</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>Tail pathology</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[230px]'>

                                <label class='w-[55%]'>ERC</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                    </div>

                    <div class='mt-3 flex'>

                        <div class=''>

                            <p>HEAD DEFFECTS</p>

                            <div class='flex mt-3'>

                                <div>

                                    <p>% rel, to total</p>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Tapered</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Pyriform</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Amorphous1</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Amorphous2</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Amorphous3</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Vacuolated</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Round, no acrosome</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Round, small</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Small acrosome</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Double head</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Pinhead</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                </div>

                                <div>

                                    <p>% rel, to anomalies</p>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Tapered</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Pyriform</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Amorphous1</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Amorphous2</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Amorphous3</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Vacuolated</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Round, no acrosome</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Round, small</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Small acrosome</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Double head</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                    <div class='flex w-[160px]'>

                                        <label class='w-[55%]'>Pinhead</label>

                                        <input type="text" class='border w-[40px]' />

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class=''>



                            <div>

                                <div>

                                    <p>NECK AND MIDPIECE DEFECTS</p>

                                    <div class='flex mt-3'>

                                        <div>

                                            <p>% rel, to total</p>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Bent neck</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Asymmentrical</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Thick insertion</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Thin</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                        </div>

                                        <div>

                                            <p>% rel, to anomalies</p>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Bent neck</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Asymmentrical</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Thick insertion</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Thin</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class='mt-3'>

                                    <p>TAIL DEFECTS</p>



                                    <div class='flex mt-3'>

                                        <div>

                                            <p>% rel, to total</p>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Short</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Bent</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Coiled</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Double tail</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                        </div>

                                        <div>

                                            <p>% rel, to anomalies</p>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Short</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Bent</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Coiled</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                            <div class='flex w-[160px]'>

                                                <label class='w-[55%]'>Double tail</label>

                                                <input type="text" class='border w-[40px]' />

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class='mt-3'>

                        <p>DNA FRAGMENTATION</p>

                        <div class='flex mt-3'>

                            <div class='flex w-[170px]'>

                                <label class='w-[70%]'>DNA, sperms analyzed</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[130px] ml-3'>

                                <label class='w-[70%]'>medium halo, %</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[130px] ml-3'>

                                <label class='w-[70%]'>Without halo, %</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[105px] ml-3'>

                                <label class='w-[70%]'>DFI</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                        <div class='flex'>

                            <div class='flex w-[170px] '>

                                <label class='w-[70%]'>Big halo, %</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[130px] ml-3'>

                                <label class='w-[70%]'>Smell halo, %</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[130px] ml-3'>

                                <label class='w-[70%]'>Degraded, %</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                            <div class='flex w-[105px] ml-3'>

                                <label class='w-[70%]'>Status DNA</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                        <div class=' mt-3'>

                            <label class='w-[15%]'>Result</label>

                            <input type="text" class='border w-[530px] ml-3' />

                        </div>

                    </div>

                    <div class='mt-3'>

                        <p>STATISTICS</p>

                        <div class='mt-3'>

                            <div class='flex'>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_VCL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_VSL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_VAP</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_ALH</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_BCF</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_LIN</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_STR</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_WOB</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>A_MAD</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                            <div class='flex'>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_VCL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_VSL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_VAP</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_ALH</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_BCF</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_LIN</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_STR</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_WOB</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>B_MAD</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                            <div class='flex'>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_VCL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_VSL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_VAP</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_ALH</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_BCF</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_LIN</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_STR</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_WOB</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>C_MAD</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                            <div class='flex '>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_VCL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_VSL</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_VAP</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_ALH</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_BCF</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_LIN</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_STR</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_WOB</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>D_MAD</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class='mt-3'>

                        <div class='flex '>

                            <p class='w-[6%]'>Norm</p>

                            <div class='flex '>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>N_Area</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[95px]'>

                                    <label class='w-[80%]'>N_Length</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>N_Width</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>N_Elongation</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>N_Acrosome</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>N_FFE</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                        </div>

                        <div class='flex '>

                            <p class='w-[6%]'>Pathology</p>

                            <div class='flex '>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>P_Area</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[95px]'>

                                    <label class='w-[80%]'>P_Length</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>P_Width</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>P_Elongation</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px]'>

                                    <label class='w-[50%]'>P_Acrosome</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[90px] '>

                                    <label class='w-[50%]'>P_FFE</label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class='flex '>

                        <div class='flex mt-3 items-center'>

                            <label class='w-[10%]'>Conclusion</label>

                            <input type="text" class='border w-[430px] ml-3' />

                        </div>

                        <div class='flex mt-3 items-center ml-3'>

                            <label class='w-[20%]'>Physician</label>

                            <input type="text" class='border w-[160px] ml-3' />

                        </div>

                    </div>

                    <div class='flex mt-3'>

                        <div class='flex  '>

                            <label class='w-[10%] h-[80%]'>Comment</label>

                            <textarea rows="8" cols="100" name="comment" form="usrform"
                                class='border  overflow-y-scroll'>

                        </textarea>

                        </div>

                        <div class='ml-3 mt-10 flex gap-4 flex-col'>

                            <div class='flex w-[135px] '>

                                <label class='w-[50%]'>Doses</label>

                                <input type="text" class='border w-[97px]' />

                            </div>

                            <div class='flex w-[190px] '>

                                <label class='w-[50%]'>Volume of diuent</label>

                                <input type="text" class='border w-[40px]' />

                            </div>

                        </div>

                    </div>

                    <div class='mt-3'>

                        <p>Disease Statistics (Nr. of Patients)</p>

                        <div class='flex gap-16'>

                            <div class='bg-orange-300 w-[120px] mt-3'>

                                <div class='flex w-[205px]'>

                                    <label class='w-[120px] flex items-center justify-between'>Aspermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500  ' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[205px]'>

                                    <label class='w-[120px] flex items-center justify-between'>Azoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500 ' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[205px]'>

                                    <label class='w-[120px] flex items-center justify-between'>Necrozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500 ' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[205px]'>

                                    <label class='w-[120px] flex items-center justify-between'>Normozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500 ' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                            <div class='bg-orange-300 w-[130px] h-[55px] mt-3'>

                                <div class='flex w-[155px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Asthenozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[155px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Oligozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[155px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Teratozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                            <div class='bg-orange-300 w-[150px] h-[55px] mt-3'>

                                <div class='flex w-[185px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Asthenoteratozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[185px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Oligoasthenozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[185px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Oligoteratozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                            <div class='bg-orange-300 w-[170px] mt-3'>

                                <div class='flex w-[210px]'>

                                    <label
                                        class='w-[90%] flex items-center justify-between'>Oligoasthenoteratozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[210px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Cryptozoospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[210px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Leukospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                                <div class='flex w-[210px]'>

                                    <label class='w-[90%] flex items-center justify-between'>Haemospermia

                                        <BiSolidRightArrow class='text-[15px] text-blue-500' />

                                    </label>

                                    <input type="text" class='border w-[40px]' />

                                </div>

                            </div>

                        </div>



                    </div>

                </div>

            </div>



        </div>

    </div>



    <script>

        function toggleDropdown(dropdownId) {

            var dropdown = document.getElementById(dropdownId);

            var dropdowns = document.getElementsByClassName("dropdown-content");

            for (var i = 0; i < dropdowns.length; i++) {

                var openDropdown = dropdowns[i];

                if (openDropdown.id !== dropdownId) {

                    openDropdown.classList.remove('show');

                }

            }

            dropdown.classList.toggle("show");

        }



        // Close the dropdown if the user clicks outside of it

        window.onclick = function (event) {

            if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");

                for (var i = 0; i < dropdowns.length; i++) {

                    var openDropdown = dropdowns[i];

                    if (openDropdown.classList.contains('show')) {

                        openDropdown.classList.remove('show');

                    }

                }

            }

        }

    </script>

</body>



</html>